<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    header{
        position: relative;
        font-weight: bold;
        font-size: 18px;
    }
    .back{
        position: absolute;
        top: 0;
        right: 10px;
    }
</style>
<body>
    <header>
        Hi, {{greating}} How can I help you? You can connect with us.
        <button class="back" onclick="history.back()">Back</button>
    </header>
    <hr><hr>
</body>
</html>