<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DShop - Help Desk</title>
    <style>
        .back{
            background: #000;
            color: white;
            font-weight: bold;
            padding: 10px;
        }
        .back:active{
            transform: scale(0.94);
            background: white;
            color: black;
        }
    </style>
</head>
<body>
    <header>
        <button class="back" onclick="history.back()">Back</button>
    </header>
    <hr>
    <hr>
    <main>
        Hello , How can We help you ? 
    </main>
</body>
</html>